@model mortuary.Models.ClientBill

@{
    ViewBag.Title = mortuary.i18n.i18n.Edit;
}

<h2>@mortuary.i18n.i18n.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@mortuary.i18n.i18n.ClientBill</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ClientId, (IEnumerable<SelectListItem>)ViewBag.Clients, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalToPay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="total-input" name="total-input" class="form-control" value="@Model.TotalToPay" readonly />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <h4>@mortuary.i18n.i18n.BillLines</h4>
            <hr />

            @Html.ValidationMessageFor(model => model.BillLines, "", new { @class = "text-danger" })

            <span class="float-right mb-3 mr-2">
                @Html.ActionLink(mortuary.i18n.i18n.AddRow, "Create", "BillLines", new { billId = Model.Id }, new { @class = "text-success" })
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center" style="width: 20%">@mortuary.i18n.i18n.Product</th>
                    <th class="text-center" style="width: 15%">@mortuary.i18n.i18n.Notes</th>
                    <th class="text-center" style="width: 10%">@mortuary.i18n.i18n.Amount</th>
                    <th class="text-center" style="width: 15%">@mortuary.i18n.i18n.Price</th>
                    <th class="text-center" style="width: 10%">@mortuary.i18n.i18n.TaxesPercentage</th>
                    <th class="text-center" style="width: 15%">@mortuary.i18n.i18n.Subtotal</th>
                    <th class="text-center" style="width: 15%"></th>
                </tr>
                @foreach (var line in Model.BillLines)
                {
                    <tr>
                        <td>@line.Product.Name</td>
                        <td>@line.Notes</td>
                        <td>@line.Amount</td>
                        <td>@line.Price</td>
                        <td>@line.TaxesPercentage</td>
                        <td>@line.Subtotal</td>
                        <td>
                            @Html.ActionLink(mortuary.i18n.i18n.Edit, "Edit", "BillLines", new { id = line.Id, billId = Model.Id }, "") |
                            @Html.ActionLink(mortuary.i18n.i18n.Delete, "Delete", "BillLines", new { id = line.Id }, "")
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@mortuary.i18n.i18n.Save class="btn btn-secondary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(mortuary.i18n.i18n.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bill-lines")
}
