@model mortuary.Models.Client

@{
    ViewBag.Title = mortuary.i18n.i18n.Details;
}

<h2>@mortuary.i18n.i18n.Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>

        <dd>
            @foreach (var product in Model.Products)
            {
                @product.Name <br />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(mortuary.i18n.i18n.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(mortuary.i18n.i18n.BackToList, "Index")
</p>
