@model mortuary.Models.ApplicationUser

@{
    ViewBag.Title = mortuary.i18n.i18n.Edit;
}

<h2>@mortuary.i18n.i18n.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Application User</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="Role" name="Role" class="form-control">
                @foreach (var role in ViewBag.Roles)
                {
                    if (Model.Roles.First().RoleId == role.Value)
                    {
                        <option value="@role.Value" selected>@role.Text</option>
                    }
                    else
                    {
                        <option value="@role.Value">@role.Text</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@mortuary.i18n.i18n.Save class="btn btn-secondary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(mortuary.i18n.i18n.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
